<form #f="ngForm">
  <div class="container">

    <div class="card-header">
      <h1>Панель управления</h1>
    </div>

    <div class="card-body">

      <div class="row mb-3">
        <!--temp-->
        <div class="col-12 col-sm-6">
          <app-input-field title="Температура"
                           name="targetTemperature"
                           [type]="'number'"
                           [(ngModel)]="targetTemperature"
                           [minValue]="0"
                           [maxValue]="125"></app-input-field>
          <button (click)="applyTemperature()" type="button" class="mt-3 btn btn-primary">Применить</button>
        </div>
        <!--pidPk-->
        <div class="col-12 col-sm-6">
          <app-input-field title="pid pk"
                           name="pidPk"
                           [type]="'number'"
                           [(ngModel)]="pidPk"
                           [minValue]="0"
                           [maxValue]="1"></app-input-field>
          <button (click)="setPidPk()" type="button" class="mt-3 btn btn-primary">Применить</button>
        </div>
        <!--pidIk-->
        <div class="col-12 col-sm-6 mt-3">
          <app-input-field title="pid ik"
                           name="pidIk"
                           [type]="'number'"
                           [(ngModel)]="pidIk"
                           [minValue]="0"
                           [maxValue]="1"></app-input-field>
          <button (click)="setPidIk()" type="button" class="mt-3 btn btn-primary">Применить</button>
        </div>
        <!--pidDk-->
        <div class="col-12 col-sm-6 mt-3">
          <app-input-field title="pid dk"
                           name="pidDk"
                           [type]="'number'"
                           [(ngModel)]="pidDk"
                           [minValue]="0"
                           [maxValue]="1"></app-input-field>
          <button (click)="setPidDk()" type="button" class="mt-3 btn btn-primary">Применить</button>
        </div>
      </div>

      <div *ngIf="chartData" class="row mb-3">
        <app-chart [lineChartData]="chartData"
                   [lineChartLabels]="labels"></app-chart>
      </div>

      <div class="row mb-3">
        <button type="button" class="btn btn-primary">Получить данные для графика</button>
      </div>

    </div>

  </div>
</form>
